$font-stack: Helvetica, sans-serif;
$light-bgcolor: #e7e7e7;

*{ box-sizing: border-box;}

body{
	font: 100% $font-stack;
	background-color: $light-bgcolor;
	padding:0;
	margin:0;
}


@import 'topmenu';

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
