$font-stack: Helvetica, sans-serif;
$light-bgcolor: #e7e7e7;

$img-border-color: #000;
$img-hover-border-color: #ff0000;

*{ box-sizing: border-box;}

body{
	font: 100% $font-stack;
	background-color: $light-bgcolor;
	padding:0;
	margin:0;
}


@import 'topmenu';

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.box {
    width: 100%;
	padding: 50px;
}

.box__container{
	width: 200px;
	height: 200px;
	background: #ffffff url('bugs-bunny.png') no-repeat center center;
	border-radius: 50%;
	margin: 0 auto;
	border: 1px solid $img-border-color;
	transition: all .9s;
}

.box__container:hover{
	border:1px solid $img-hover-border-color;
	box-shadow: 10px 10px 15px #aaaaaa;
	transform: scale(1.2) rotate(7deg);
	transition: all .5s;
}


@media only screen and (min-width: 480px) and (min-height:320px) {
	.box {
		float: left;
		width: 33%;
		padding:50px;
	}
}